<footer class="{{ .Site.Params.background_color_class | default "bg-dark-gray" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="container">
    <div class="footer-logo">
         <p class = "white-70"><i>Thank you to our funding partners</i></p>
      <img src="/images/partner_logo_light.png" alt="My Logo" style="max-height: 55px;">
      <p style="color: rgba(255, 255, 255, 0.7); float: right"> &copy; 2025 Patient Centered Care Project. All rights reserved.</p>
    </div>
      
  </div>
</footer>